.navbar {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Thick shadow at the bottom */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays above other content when scrolling */
    background-color: white; /* Ensure the background stays visible */
    border-bottom-left-radius: 20px;  /* Add rounded corners to the bottom-left */
    border-bottom-right-radius: 20px; /* Add rounded corners to the bottom-right */
}

.navbar-brand img {
    border-radius: 5px;
    width: 60px;
    /* Adjust width as needed */
    height: auto;
    /* Keep image aspect ratio */
    margin-left: 15px;
    /* Adjust this margin to your needs */
}

.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    /* Adjust padding for desired size */
    font-weight: bold;
    /* Optional: to make the text more prominent */
    text-align: center;
    /* Ensures the text is centered */
    vertical-align: middle;
}